*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

 }

nav ul li {
    display: inline-block;
    margin: 10px 20px;
 
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffa500;
    position: absolute;
    left: 0;
    bottom: -6px; 
    transition: 0.5s;
    
}

nav ul li a:hover::after{
    width: 100%;
}



